extends layout

block content
  h3  Links
  ul
    li 
      a(href="/swsdvolcal/timeline") Volunteer Timeline View.
    li
      a(href="/swsdvolcal/table") Volunteer Table View.
    li
      a(href="https://app.volunteerlocal.com/manage/?go=volunteer_reports") VolunteerLocal, the original source.
    
