extends layout

block header
  link(rel="stylesheet", href="/swsdvolcal/css/datatables.min.css")
  script(src="/swsdvolcal/js/datatables.min.js")

block content
  p#neededyet 
  br
  p.toggle Toggle columns:
  table.display#thetable
  script
    | $('<div class="loading">...Loading DataTables...</div>').appendTo('body');
    | const url = "/swsdvolcal/getdata/0";
    | fetch(url, {credentials: "include"})
    |   .then(response => response.json()) // start fetching data right away but wait until doc is loaded to start building
    |   .then(json     => {$(document).ready(loadTable(json)); return json;})
    |   .catch(err     => console.error(err));
    |
    | function loadTable(data) {
    |   // add some datatables options
    |   data['initComplete'] = function(settings, json) {
    |     $('div.loading').remove();
    |   }
    |   data['buttons'] = [ 'columnsToggle' ];
    |   data['lengthMenu'] = [ [-1, 25, 50, 100], ["All", 25, 50, 100] ];
    |   data['dom'] = 'Blfrtip';
    |   $("#thetable").DataTable(data);
    | };
