body {
  background: repeat url("/swsdvolcal/images/bg-blue.jpeg") aliceblue; /**/
  color: #222;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.need {
  background: lightcoral;
}

#timeline {
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
}

.vis-labelset {
  font-weight: bold;
}

.evenrow {
  background: rgba(191, 191, 191, 0.15);
}
.oddrow {
  background: rgba(225, 225, 225, 0.15);
}

/*
.vis-panel.vis-background.vis-vertical .vis-time-axis .vis-grid.vis-even {
  background: #EEF;
}

.vis-time-axis .vis-grid.vis-odd {
  background: #EFF;
}
*/

.vis-label {
  opacity: 1;
}

#timeline .menu {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  z-index: 9999;
}

.needabody {
  background: salmon;
}

div.buttdiv {
  margin: 10px 0px;
  padding: 0px 5px;
}

div.dataTables_wrapper {
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: minmax(auto, auto);
}

div.dt-buttons {
  /*
  border: thin solid;
  background: rgba(0, 0, 0, 0.05);
  */
  grid-row: 1;
}

/* Head Of Table */
div.hot { 
  grid-row: 2;
}

div.dataTables_wrapper {
  border: solid thin rgba(0, 0, 0, 0.05);
}

table#thetable {
  background-color: rgba(0, 0, 0, 0.05);
  /*grid-row: 3; */
}

span.timesort {
  display:none;
}

.timefield {
  position: relative;
  display: inline-block;
}

.timefield .hovertext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.timefield .hovertext::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.timefield:hover .hovertext {
  visibility: visible;
  opacity: 1;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #e0f0ff;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
  background-color: #d8e8ff;
}

table.dataTable.display tbody tr.odd>.sorting_2, table.dataTable.order-column.stripe tbody tr.odd>.sorting_2 {
  background-color: #d8e8ff;
}

div.vis-item-overflow > div.vis-item-content {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 1px;
  padding-top: 1px;
}
